.header {
    background: $header-background;
    height: 500px;
    &__navbar {
        &--link {
            font-family: Lato;
            color: #ffffff;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            &.active {
                color: #02ccb2;
            }
        }
    }
    ;
    &__header {
        height: 30rem;
        @include c-flex("column", "nowrap", "center", "center");
        &--h1 {
            font-family: Raleway;
            color: #ffffff;
            font-size: 5rem;
            font-weight: 500;
            line-height: 70px;
            text-align: left;
        }
        &--h4 {
            font-family: Lato;
            color: #f2fcff;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 38px;
            text-align: center;
        }
    }
}